@import'variables';

/*main*/
.contenido-principal{
    p{
        font-size: 1.2rem;
        list-style: 2.2rem;
        font-family: $fuente-2;
    }
}
/*sidebar*/
.sidebar {
  background-color: $color-principal;
  color: $blanco;
  h2 {
    font-size: 2.2rem;
    font-family: $fuente-2;
  }
  .table {
    border: 3px solid $color-encabezado;
    thead {
      background-color: $color-encabezado;
    }
    td,
    thead th {
      border: none;
    }
    tbody tr td {
      padding: 0.35rem;
      font-family: $fuente-2;
      font-size: 1.2rem;
    }
  }
}
