$color-principal:#8ed3cc;
$color-secundario:#bde8dd;
$color-encabezado:#e082a8;
$blanco:#ffffff;
$negro:#000000;
$gris:#979797;
$color-fondo:#f8f8f8;
$fuente-1:'Raleway', sans-serif;
$fuente-2:'Lato', sans-serif;
$fuente-3:'Italianno', cursive;