$color-principal:#8ed3cc;
$color-secundario:#bde8dd;
$blanco:#ffffff;
$negro:#000000;
$fuente-1:'Raleway', sans-serif;
$fuente-2:'Lato', sans-serif;
$fuente-3:'Italianno', cursive;

.sociales{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            position: relative;
            display: inline-block;
            a::before{
                font-family: 'FontAwesome';
                display: inline-block;
                vertical-align: top;
                padding: 0.4rem;
                content: '\f08e';
                -webkit-font-smoothing:antialiased;
                font-size: 2rem;
                color: #e082a8;
            }
            a[href*='facebook.com']::before{
                content: '\f082';
            }
            a[href*='twitter.com']::before{
                content: '\f081';
            }
            a[href*='instagram.com']::before{
                content: '\f16d';
            }
            a[href*='pinterest.com']::before{
                content: '\f0d2';
            }
            a[href*='youtube.com']::before{
                content: '\f167';
            }
        }
    }
}


/*Navegacion*/
.navegacion{
    background-color:$color-principal;
    .navbar-light .navbar-toggler{
        background-color: $blanco;
    }
    .navbar-brand,.navbar-brand:hover{
        color: $blanco;
    }
    .nav-principal{
        background-image: url(../img/border_horizontal.png),
            url(../img/border_horizontal.png);
        background-repeat: repeat-x;
        background-position: 0px top,0px bottom;
    }
    .nav-link{
        color: $blanco;
        font-family: $fuente-1;
        font-size: 1.4rem;
        transition: all .5s ease-in-out;
        &:hover{
            background-color: $color-secundario;
            color: $negro;
        }
    }
}

.carousel-caption{
    h3{
        font-family: $fuente-1;
        font-size: 2rem;
        font-weight: 900;
        color: $blanco;
    }
}