$color-principal:#8ed3cc;
$color-secundario:#bde8dd;
$color-encabezado:#e082a8;
$blanco:#ffffff;
$negro:#000000;
$gris:#979797;
$color-fondo:#f8f8f8;
$fuente-1:'Raleway', sans-serif;
$fuente-2:'Lato', sans-serif;
$fuente-3:'Italianno', cursive;


body{
    background-color: $color-fondo;
}
/*Encabezados*/
.encabezado{
    font-family: $fuente-2;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $negro;
    span{
        font-family: $fuente-3;
        color: $color-encabezado;
        font-size: 3.8rem;
    }
}
.nuevo-sitio{
    font-family: $fuente-2;
    color: $gris;
    font-size: 1.6rem;
}



/*Logo y Redes Sociales*/
.sociales{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
        li{
            position: relative;
            display: inline-block;
            a::before{
                font-family: 'FontAwesome';
                display: inline-block;
                vertical-align: top;
                padding: 0.4rem;
                content: '\f08e';
                -webkit-font-smoothing:antialiased;
                font-size: 2rem;
                color:$color-encabezado;
            }
            a[href*='facebook.com']::before{
                content: '\f082';
            }
            a[href*='twitter.com']::before{
                content: '\f081';
            }
            a[href*='instagram.com']::before{
                content: '\f16d';
            }
            a[href*='pinterest.com']::before{
                content: '\f0d2';
            }
            a[href*='youtube.com']::before{
                content: '\f167';
            }
        }
    }
}


/*Navegacion*/
.navegacion{
    background-color:$color-principal;
    .navbar-light .navbar-toggler{
        background-color: $blanco;
    }
    .navbar-brand,.navbar-brand:hover{
        color: $blanco;
    }
    .nav-principal{
        background-image: url(../img/border_horizontal.png),
            url(../img/border_horizontal.png);
        background-repeat: repeat-x;
        background-position: 0px top,0px bottom;
    }
    .nav-link{
        color: $blanco;
        font-family: $fuente-1;
        font-size: 1.4rem;
        transition: all .5s ease-in-out;
        &:hover{
            background-color: $color-secundario;
            color: $negro;
        }
    }
}

/*Carousel*/
.carousel-caption{
    h3{
        font-family: $fuente-1;
        font-size: 2rem;
        font-weight: 900;
        color: $blanco;
    }
}

/*Servicios cards*/
.imagen-servicio{
    img{
        border: 6px solid $blanco;
        -webkit-transition: transform .3s ease;       
        -ms-transition:transform .3s ease;
        transition: transform .3s ease;
        &:hover{
            -webkit-transform: scale(1.2) rotate(10deg);
            -ms-transform: scale(1.2) rotate(10deg);
            transform: scale(1.2) rotate(10deg);
        }
    }
}

.servicio-info{
    background-color: $blanco;
    margin-top: -5rem;
    .btn-primary{
        border-radius: 0;
        background-color: $color-encabezado;
        border: none;
        font-family: $fuente-2;
        font-size: 1.5rem;
        &:hover{
            background-color: $color-principal;
        }
    }
    
}

/*Seccion Horario*/
.horario{
    background-color: $color-principal;
    color: $blanco;
    h2{
        font-size: 2.2rem;
        font-family: $fuente-2;
    }
    .table{
        border: 3px solid $color-encabezado;
        thead{
            background-color: $color-encabezado;
        }
        td, thead th{
            border:none;
        }
        tbody tr td{
            padding: .35rem;
            font-family: $fuente-2;
            font-size: 1.2rem;
        }
    }
    .bg-horario{
        background-image: url(../img/bg_horarios.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 400px;
    }
}

/*Productos*/
.productos .card{
    border: none;
    a{
        color: $negro;
        &:hover{
            text-decoration: none;
        }
    }
    .card-title{
        color: $color-encabezado;
        font-family: $fuente-2;
        font-size: 1.2rem;
    }
    .card-text{
        color: $negro;
        font-family: $fuente-2;
        font-size: .8rem;
    }
    .precio{
        font-family: $fuente-2;
        color: $gris;
        font-size: 1.6rem;   
    }
}

/*Citas*/
.citas{
    background-image: url(../img/bg_citas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $blanco;
    font-family: $fuente-2;
    @media(min-width:992px) {
        background-size: cover;
    }
    h3{
        font-size: 3.5rem;
    }
    p{
        line-height: 2.6rem;
        font-size: 1.2rem;
    }
    a{
        background-color: $color-principal;
        border: 0;
        padding: 1rem 5rem;
        border-radius: 0;
        font-size: 1.2rem;
        font-family: $fuente-2;
        &:hover{
            background-color: #69aca5;
        }
    }
}
/*Footer*/
.footer-sitio{
    font-family: $fuente-2;
    font-size: 1rem;
    .copyright{
        color: $gris;
    }
}